# Copy this file to .env and fill with your real credentials
PORT=3000
SENDGRID_API_KEY=your_sendgrid_api_key

TWILIO_ACCOUNT_SID=your_twilio_account_sid

TWILIO_AUTH_TOKEN=your_twilio_auth_token

TWILIO_FROM_NUMBER=your_twilio_phone_number

DATABASE_URL=postgresql://username:password@localhost:5432/notification_service
