# Dependencies
node_modules/
.node_modules

# Environment files
.env
.env.*
!.env.example
*.env
*.env.example
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.development
*.env.test
*.env.production

# Logs
logs
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build folders
dist/
build/
*.dist
*.build

# Coverage
coverage/

# Cache
.cache/
*.cache

# Runtime
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temp
tmp/
temp/
*.temp
*.tmp

# Database
*.sqlite
*.db

# Uploads
uploads/

# Docker overrides
docker-compose.override.yml

# Python
venv/
__pycache__/
