# MongoDB Config (Replace with your Atlas connection string)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.ri3skzx.mongodb.net/secure_bank_application?retryWrites=true&w=majority
MONGO_DB_NAME=ecommerce_orchestrator


# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_QUEUE=queue:inventory:reserve

# Orchestrator Config
ORCHESTRATOR_CALLBACK_URL=http://localhost:8000/api/v1/tasks/callback