# PostgreSQL Config
DATABASE_URL=postgresql://user:password@host:port/database?sslmode=require


# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_QUEUE=queue:inventory:reserve

# Orchestrator Config
ORCHESTRATOR_CALLBACK_URL=http://localhost:8000/api/v1/tasks/callback